{% extends 'adminbase.html' %} 
{% load static %}
{% block title %}Admin|home {% endblock %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color:;
        }
        #download-link {
            display: inline-block;
            padding: 10px;
            margin-top: 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
       
            .filter-button {
                background-color: #007BFF;
                color: #fff;
                padding: 8px;
                border: none;
                border-radius: 15px;
                text-decoration: none;
                cursor: pointer;
            }
        
        
    </style>
    <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
            
              
                    <div class="col-12">

    <h1>Sales Report </h1>
    <form method="get" action="{% url 'sales_report' %}">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
        {% comment %} <input type="submit" value="Filter" class='btn btn-success'> {% endcomment %}
        <button type="submit" value="Filter" class="filter-button">filter</button><br>
        <a href="{% url 'download_sales_report' %}?start_date={{ request.GET.start_date|default:'' }}&end_date={{ request.GET.end_date|default:'' }}">Download Sales Report</a>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Total Sales Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in sales_data %}
                <tr>
                    <td>{{ entry.product__product_name }}</td>
                    <td>{{ entry.total_sales }}</td>
                </tr>
            {% endfor %}
           

            {% comment %} <a href="{% url 'download_sales_report' %}" class="download-link">Download Sales Report</a>
            <a href="{% url 'download_sales_report' %}?start_date=2023-10-26&end_date=2023-10-28">Download Sales Report</a> {% endcomment %}

        </tbody>
    </table>
</div>
    </div>
            </div>
        </div>
    </div>
    {% endblock content %}
