{% extends 'adminbase.html' %} 
{% load static %}
{% block title %}Admin|Products {% endblock %}
{% block content %}



 
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">CATEGORY OFFER</h3>
                        <a href="{% url 'Categoryoffer_add' %}" class='btn btn-success ml-auto'> ADD OFFER</a>
                       
                      </div> 
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Coupon id</th>
                              
                              <th scope="col">Coupon code</th>
                            
                              <th scope="col">discount type</th>
                              <th scope="col">discount value</th>
                              <th scope="col">Expiration date</th>
                              
                              <th>remove</th>

                              
                            
                            </tr>
                          </thead>
                         <tbody>
                           {% for p in categoryoffer %}
                              <tr>
                                <td>{{ forloop.counter}}</td>
                    
                                <td>{{ p.category.category_name }}</td>
                               
                                <td>{{ p.offer_type }}</td>
                                {% if p.offer_type == 'percentage' %}
                                    <td> {{p.discount_value|floatformat:0}}%</td>
                                {% else %}  
                                     <td> Rs.{{p.discount_value}}</td>
                                {% endif %}

                                <td>{{ p.expiration_date}}</td>

                                
                           
                                
                              <td>
                                {% if p.is_active %}
                                    <form method="post" action="{% url 'categoryoffer_disable' p.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Disable</button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-secondary" disabled>Disabled</button>
                                {% endif %}
                            </td>


                              </tr>
                    </div>
                    {% endfor %}
                </tbody>
 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% endblock content %}
 
 