{% extends 'adminbase.html' %} 
{% load static %}
{% block title %}Admin|Products {% endblock %}
{% block content %}



 
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">COUPONS</h3>
                        <ul class="navbar-nav w-50 mx-5">
                          <li class="nav-item w-50">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" method='GET' action="{% url 'coupon_search' %}">{% csrf_token %}
                              <input type="text" class="form-control" placeholder="Search coupon" name='q'>
                              <button class="btn btn-primary mx-2" type="submit"> Search</button>
                            </form>
                          </li>
                        </ul>
                        <a href="{% url 'Add_coupons' %}" class='btn btn-success ml-auto'>Add COUPONS</a>
                       
                      </div> 
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Coupon id</th>
                              
                              <th scope="col">Coupon code</th>
                            
                              <th scope="col">discount type</th>
                              <th scope="col">discount value</th>
                              <th scope="col">Expiration date</th>
                              
                              <th>remove</th>

                              
                            
                            </tr>
                          </thead>
                         <tbody>
                           {% for p in coupons %}
                              <tr>
                                <td>{{ forloop.counter}}</td>
                    
                                <td>{{ p.code }}</td>
                               
                                <td>{{ p.discount_type }}</td>
                                {% if p.discount_type == 'percentage' %}
                                <td> {{p.discount_value|floatformat:0}}%</td>
                                {% else %}
                                <td>Rs. {{p.discount_value}}</td>

                                {% endif %}
                                <td>{{ p.expiration_date}}</td>

                                
                                
                                <td>
                                  <form method="post" action="{% url 'delete_coupons' p.id%}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger ml-auto">Delete</button>
                                  </form>
                              </td> 
                              


                              </tr>
                    </div>
                    {% endfor %}
                </tbody>
 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% endblock content %}
 
 