

{% extends 'adminbase.html' %} 
{% load static %}
{% block title %}Admin|home {% endblock %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Order Status</h4>

                        <ul class="navbar-nav w-50">
                            <li class="nav-item w-50">
                              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" method='GET' action="{% url 'orderstatus_search' %}">{% csrf_token %}
                                <input type="text" class="form-control" placeholder="Search orders" name='q'>
                                <button class="btn btn-primary mx-2" type="submit"> Search</button>
                              </form>
                            </li>
                          </ul>

                        <form method="post" action="{% url 'update_order_status' %}" id="orderStatusForm">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check form-check-muted m-0">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input">
                                                    </label>
                                                </div>
                                            </th>
                                            <th> User Name </th>
                                            <th> Order No </th>
                                            <th> Product name </th>
                                            <th>order notes</th>
                                            <th> Product Cost </th>
                                           
                                            <th> User Address </th>
                                            <th> Payment Mode </th>
                                            <th> Ordered Date </th>
                                            <th> Order Status </th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-muted m-0">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{% static 'assets/images/faces/face1.jpg' %}" alt="image" />
                                                    <span class="pl-2">{{ order.user.username }}</span>
                                                </td>
                                                <td>{{ order.order_number }}</td>
                                                <td>
                                                    {% for order_item in order.orderitems.all %}
                                                        {{ order_item.product.product_name }}<br>
                                                    {% endfor %}
                                                </td>
                                                <td>{{order.order_notes}}</td>
                                                <td>
                                                    {% for order_item in order.orderitems.all %}
                                                        {{ order_item.price }}<br>
                                                    {% endfor %}
                                                </td>
                                               

                                                <td>{{ order.delivery_address }}</td>
                                                <td>{{ order.payment_method }}</td>
                                                <td>{{ order.order_date }}</td>
                                              
                                                <td>
                                                   
                                                    <div class="badge">
                                                        <select name="order_{{ order.id }}_status" class="form-control text-white" onchange="updateOrderStatus(this, '{{ order.status }}')">
                                                            <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Confirm' or order.status == 'Processing' or order.status == 'Shipped' or order.status == 'Delivered' %}disabled{% endif %}>Pending</option>
                                                            <option value="Confirm" {% if order.status == 'Confirm' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Processing' or order.status == 'Shipped' or order.status == 'Delivered' %}disabled{% endif %}>Confirm</option>
                                                            <option value="Processing" {% if order.status == 'Processing' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Shipped' or order.status == 'Delivered' %}disabled{% endif %}>Processing</option>
                                                            <option value="Shipped" {% if order.status == 'Shipped' %}selected{% endif %} {% if order.status == 'Cancelled' or order.status == 'Delivered'  %}disabled{% endif %}>Shipped</option>
                                                            <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %} {% if order.status == 'Cancelled'  %}disabled{% endif %}>Delivered</option>
                                                            <option value="Cancel" {% if order.status == 'Cancelled' %}selected{% endif %} {% if order.status == 'Delivered'  %}disabled{% endif %}>Cancelled</option>
                                                        </select>
                                                    </div>
                                                    
                                                </td>
                                                
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if orders.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ orders.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="current-page">Page {{ orders.number }} of {{ orders.paginator.num_pages }}.</span>
                            {% if orders.has_next %}
                                <a href="?page={{ orders.next_page_number }}">next</a>
                                <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    {% comment %} function updateOrderStatus(selectElement) {
        // Find the form element
        var form = document.getElementById('orderStatusForm');
        // Submit the form
        form.submit();
    }

    {% for msg in messages %}
    Swal.fire({
        title: 'success',
        text: '{{ msg }}',
        icon: 'success'
    });
    

   
    {% endfor %} {% endcomment %}
    function updateOrderStatus(selectElement, currentStatus) {
        // Check if the order is canceled
        var isCancelled = currentStatus === 'Cancelled';
    
        // If the order is cancelled, prevent changes
        if (isCancelled) {
            Swal.fire({
                title: 'Error',
                text: 'Cannot update status for canceled orders.',
                icon: 'error'
            });
    
            // Reset the dropdown to its original value
            selectElement.value = currentStatus;
    
            return;
        }
    
        // Enable all options first
        var options = selectElement.options;
        for (var i = 0; i < options.length; i++) {
            options[i].disabled = false;
        }
    
        // Disable options based on the current selection
        switch (selectElement.value) {
            case 'Delivered':
                options[0].disabled = true; // Disable 'pending'
                options[1].disabled = true; // Disable 'Confirm'
                options[2].disabled = true; // Disable 'Processing'
                options[3].disabled = true; // Disable 'Shipped'
               
                break;
            case 'Confirm':
                options[0].disabled = true; // Disable 'pending'
                //options[3].disabled = true; // Disable 'Shipped'
                //options[4].disabled = true; // Disable 'Delivered'
                break;
            case 'Processing':
                options[0].disabled = true; // Disable 'Shipped'
                options[1].disabled = true; // Disable 'Delivered'
                break;
            case 'Shipped':
                
                options[0].disabled = true; // Disable 'Confirm'
                options[1].disabled = true; // Disable 'Processing'
                options[2].disabled = true; // Disable 'Shipped'
                break;
        }
    
        // Find the form element
        var form = document.getElementById('orderStatusForm');
        // Submit the form
        form.submit();
    }
    
</script>
{% endblock script %}

