{% extends 'adminbase.html' %} 
{% load static %}
{% block title %}Admin|Products {% endblock %}
{% block content %}



 
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">PRODUCTS</h3>
                        <a href="{% url 'categoryadd' %}" class='btn btn-success ml-auto'>Add category</a>
                       
                      </div> 
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Category_Id</th>
                              
                              <th scope="col">Category_name</th>
                            
                              <th scope="col">Stock</th>
                              
                            
                            </tr>
                          </thead>
                         <tbody>
                           {% for p in category %}
                              <tr>
                                <td>{{ forloop.counter}}</td>
                    
                                <td>{{ p.category_name }}</td>
                               
                                <td>{{ p.category_quantity }}</td>

                                <td><a href="{% url 'categoryupdate' p.category_id %}" class='btn btn-warning ml-auto'>Update</a></td>
                                
                                <td>
                                  <form method="post" action="{% url 'Category_delete' p.category_id %}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger ml-auto">Delete</button>
                                  </form>
                              </td> 
                              


                              </tr>
                    </div>
                    {% endfor %}
                </tbody>
 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% endblock content %}
 
 