{% extends 'index.html' %} 
{% load static %}
{% load cart_tags %}
{% load custom_filters %}

{% block title %}Swipe_cake|Chocolates {% endblock %}
{% block content %}


<style>
    .checkout__total__products {
        display: flex;
        justify-content: space-between;
    }

    .total-price {
        margin-left: auto; /* This will push it to the right */
    }

    .input1 {
        padding: 10px;
        margin-bottom: 10px;
        width: 300px; /* Set your desired width */
        height: 40px; /* Set your desired height */
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }


</style>



    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="{% url 'homeafter' %}">Home</a>
                        <span>Checkout</span>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="col-lg-4 col-md-6"> 
                <div class="cart__discount ">                    
                    <h6>Discount codes</h6>
                    <p class='text-success my-0'>coupons only applicable for order ><span class='text-danger'> 500</span> </p>
                    <form action="{% url 'Product_checkout' %}" method='POST'>
                        {% csrf_token %}
                        <input type="text" placeholder="Enter Coupon code" name='coupon_code' id="couponInput" class='input1'>
                        <button class="site-btn" type="submit">Apply</button>
                    </form>
                    
                    <select name="coupon_code" class="input" id="couponSelect" onchange="updateCouponCode()">
                        <option value="" disabled selected>Available coupons</option>
                        {% for coupon in available_coupons %}
                            <option value="{{ coupon.code }}">{{ coupon.code }}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
                <form action="{% url 'place_order' %}" method='POST'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            
                            <h6 class="checkout__title">Billing Details</h6>
                           <div class="checkout__input__checkbox">
                            <label for="add-new-address">
                                Add new address
                                <input type="checkbox" id="add-new-address">
                                <span class="checkmark"><a href="{% url 'New_address' %}"></a></span>
                            </label>
                        </div>
                        
                        
                        <div class="checkout__input__checkbox">
                            <input type="checkbox" id="show-default-address">
                            <label for="show-default-address">Save address</label>
                        </div>
                        
                        <div id="saved-addresses" style="display: none;" class='ms-5'>
                            <label for="saved-address-details">Saved Address Details:</label>
                            <div id="saved-address-details">
                              
                                <!-- Address details will be displayed here when the checkbox is checked -->
                            </div>
                        </div>
{% comment %}                         
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Note about your order, e.g, special note for delivery
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div> {% endcomment %}
                            <div class="checkout__input">
                                <p>Order notes<span>*(optional)</span></p>
                                <input type="text"
                                placeholder="Notes about your order, e.g. special notes for delivery." name='order_notes'>
                            </div>
                            
                        </div>
                        
                      
                      
                        <div class="col-lg-4 col-md-6">
                           
                        
                            
                            <div class="checkout__order">
                                
                                <h6 class="order__title">Your order</h6>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                {% comment %} {% for subtotal in subtotal_dict.items %} {% endcomment %}
                               
                                    {% for item in cart_items %}
                                       
                                
                                            <ul class="checkout__total__products">  
                                  
                                            <samp>{{forloop.counter}}</samp>
                                            
                                                <samp style="margin-left: 1vw"> 
                                                    {{item.product.product_name}} qty-{{item.quantity}}</samp>  
                                                    <span class="total-price">₹{{ item.product.product_price|mul:item.quantity }}</span>
                                                    </ul> 
                                        
                              
                    ``                                {% endfor %}
                                
                                        <ul class="checkout__total__all">
                                            
                                        <li >Subtotal <span>₹{{ total|floatformat:2 }}</span></li>
                                       
                                                {% if applied_coupon %}
                                                <p>Applied Coupon: <strong>{{ applied_coupon.code }}</strong></p>
                                                {% comment %} <a href="remove_coupon" onclick="removeCoupon(); return false;">Remove coupon</a> {% endcomment %}
                                                <button class='btn btn-danger'><a href="{% url 'remove_coupon' %}" style="text-decoration: none; color: white;">Remove</a></button>
                                                <li >Discount Amount: <span>₹{{ discount_amount }}</span></li>
                                                
                                                {% endif %}
                                            
                                            {% for item in cart_items %}
                                                {% if item.product_offer %}
                                                <p>Applied Offer: 
                                                    <strong><br>{{ item.product.product_name }} offer - ₹{{ item.product_offer.discount_value }}</strong>
                                                </p>
                                                <li>Discount Amount: <span>₹{{ pddiscount_amount }}</span></li>
                                                {% endif %}

                                                {% if item.category_offer and item.display_category_offer %}
                                                <p>Applied Offer: 
                                                    <strong><br>{{ item.product.product_category.category_name }} offer - {{ item.category_offer.discount_value|floatformat:0 }}%</strong>
                                                </p>
                                                <li>Discount Amount: <span>₹{{ Ct_discount_amount }}</span></li>
                                                {% endif %}
                                            {% endfor %}

                                                        
                                        
                                        
                                        



                                            
                                           
                                                <li>Total <span>₹{{ cart_total|floatformat:2 }}</span></li>
                                           

                                            {% comment %} <li>Total <span>₹{{cart_total}}</span></li> {% endcomment %}
                                            </ul>
                               
                                            
                        
                               
                                <div class="checkout__input__radio">
                                    <label for="payment-cod">
                                        
                                        <input type="radio" id="payment-cod" name="payment-method" value="CashOnDelivery">Cash on Delivery
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__radio">
                                    <label for="payment-online">
                                       
                                        <input type="radio" id="payment-online" name="payment-method" value="OnlinePayment"> Online Payment
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                
                                <button type="submit" class="site-btn" id='place-order-btn'>PLACE ORDER</button>
                             
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

 {% endblock content %}


 {% block scripts %}
 <script>
 // Get references to the checkboxes and saved address section
const addNewAddressCheckbox = document.getElementById('add-new-address');
const showDefaultAddressCheckbox = document.getElementById('show-default-address');
const savedAddressSection = document.getElementById('saved-address-section');

// Add a click event listener to the "default delivery address" checkbox
showDefaultAddressCheckbox.addEventListener('change', function () {
    if (this.checked) {
        // Show the saved address section
        savedAddressSection.style.display = 'block';
    } else {
        // Hide the saved address section
        savedAddressSection.style.display = 'none';
    }
});

// Add a click event listener to the "Add new address" checkbox to redirect
addNewAddressCheckbox.addEventListener('change', function () {
    if (this.checked) {
        // Redirect to the 'new_address' URL
        window.location.href = "{% url 'New_address' %}";
    }
});

document.addEventListener('DOMContentLoaded', function () {
    // Get references to the checkboxes and saved address section
    const showSavedAddressCheckbox = document.getElementById('show-default-address');
    const savedAddressSection = document.getElementById('saved-addresses');
    const savedAddressDetails = document.getElementById('saved-address-details');
    const placeOrderButton = document.getElementById('place-order-btn');
    


    // Add a change event listener to the "Save address" checkbox
    showSavedAddressCheckbox.addEventListener('change', function () {
        if (this.checked) {
            // Show the saved address section
            savedAddressSection.style.display = 'block';

            // Fetch saved addresses from the server
            fetch('/get_saved_addresses/')  // Update with the correct URL
                .then(response => response.json())
                .then(data => {
                    // Clear existing saved address details
                    savedAddressDetails.innerHTML = '';

                    // Display saved address details
                    displaySavedAddresses(data.savedAddresses);
                })
                .catch(error => {
                    console.error('Error fetching saved addresses:', error);
                });
        } else {
            // Hide the saved address section
            savedAddressSection.style.display = 'none';
        }
    });

    

    // Function to display saved address details
    function displaySavedAddresses(addresses) {
        savedAddressDetails.innerHTML = ''; // Clear existing details

        if (addresses.length > 0) {
            addresses.forEach(function (address) {
                const div = document.createElement('div');
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.name = 'saved-address';
                checkbox.value = address.id;

                const label = document.createElement('label');

                label.textContent = `${address.first_name} ${address.last_name}, ${address.street_address},  ${address.apartment}, ${address.city}, ${address.state}, ${address.zipcode}, Phone: ${address.phone}, Email: ${address.email}`;
              
                label.setAttribute('for', `address-${address.id}`);

                div.appendChild(checkbox);
                div.appendChild(label);

                checkbox.addEventListener('change', function () {
                    // Uncheck other checkboxes when one is selected
                    const checkboxes = document.querySelectorAll('input[name="saved-address"]');
                    checkboxes.forEach(function (cb) {
                        if (cb !== checkbox) {
                            cb.checked = false;
                        }
                    });
                });

                savedAddressDetails.appendChild(div);
            });
        } else {
            savedAddressDetails.textContent = 'No saved addresses available.';
        }
    }

    // Function to retrieve address details by ID
    function getAddressDetailsById(addressId) {
        
        // For demonstration purposes, I assume you have an array named 'data.savedAddresses'
        const addresses = data.savedAddresses;
        const selectedAddress = addresses.find(address => address.id === addressId);

        return selectedAddress;
    }

     // Add a click event listener to the "Place Order" button
    placeOrderButton.addEventListener('click', function () {
        // Check if a saved address is selected
        const selectedAddressCheckbox = document.querySelector('input[name="saved-address"]:checked');
        const selectedPaymentRadio = document.querySelector('input[name="payment-method"]:checked');
      
        if (!selectedAddressCheckbox) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please select a saved address before placing the order.',
                
            });
           
        }else {
            const selectedAddressId = selectedAddressCheckbox.value;
            const selectedAddressDetails = getAddressDetailsById(selectedAddressId);
            const selectedPaymentMethod = selectedPaymentRadio.value;
            console.log(selectedAddressId)
            console.log(selectedAddressDetails)
            console.log(selectedPaymentMethod)
            placeOrder(selectedAddressDetails, selectedPaymentMethod);
        }
    });

    // Function to place the order with the selected address
    function placeOrder(selectedAddressDetails,selectedPaymentMethod) {
       
        console.log('Placing order with the following address:', selectedAddressDetails);
        console.log('Placing order with the following address:', selectedPaymentMethod)
        
    }
});


    function updateCouponCode() {
        var select = document.getElementById('couponSelect');
        var input = document.getElementById('couponInput');

        // Get the selected option value
        var selectedValue = select.options[select.selectedIndex].value;

        // Update the input field with the selected coupon code
        input.value = selectedValue;
    }





{% for msg in messages %}
{% if msg.tags == 'error' %}
    Swal.fire({
        title: 'Error',
        text: '{{ msg }}',
        icon: 'error'
    });
{% elif msg.tags == 'success' %}
    Swal.fire({
        title: 'Success',
        text: '{{ msg }}',
        icon: 'success'
    });
{% else %}
    Swal.fire({
        title: 'Warning',
        text: '{{ msg }}',
        icon: 'warning'
    });
{% endif %}
{% endfor %} 


</script>
 {% endblock scripts%}