{% extends 'adminbase.html' %} 
{% load static %}
{% block title %}Admin|Products {% endblock %}
{% block content %}



 
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">PRODUCTS</h3>

                        <ul class="navbar-nav w-50 mx-5">
                          <li class="nav-item w-50">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" method='GET' action="{% url 'Product_search' %}">{% csrf_token %}
                              <input type="text" class="form-control" placeholder="Search products" name='q'>
                              <button class="btn btn-primary mx-2" type="submit"> Search</button>
                            </form>
                          </li>
                        </ul>

                        <a href="{% url 'productadd' %}" class='btn btn-success ml-auto'>Add products</a>
                       
                      </div> 
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Product_Id</th>
                              
                              <th scope="col">Product_name</th>
                              
                              <th scope="col">category</th>
                              <th scope="col">stock</th>
                              <th scope="col">Price</th>
                              <th scope="col">image</th>
                              <th scope="col">Edit</th>
                              <th scope="col">Delete</th>

                              
                           
                           
                             
                                
                            
                            </tr>
                          </thead>
                          <tbody>
                            {% for p in product %}
                              <tr>
                                <td>{{ forloop.counter}}</td>
                    
                                <td>{{ p.product_name }}</td>
                                <td>{{ p.product_category.category_name }}</td>
                                {% comment %} <td>{{ p.product_category_id }}</td> {% endcomment %}
                                <td>{{ p.product_stock }}</td>
                                <td>{{ p.product_price }}</td>
                                <td><img src="{{ p.product_image.url }}" alt="{{ p.product_name }}" class="product-image"></td>

                                <td><a href="{% url 'update' p.product_id %}" class='btn btn-warning ml-auto'>Edit</a></td>
                                {% comment %} <td><a href="{% url 'delete' p.product_id %}" class='btn btn-danger ml-auto'>delete</a></td> {% endcomment %}
                                <td>
                                  <form method="post" action="{% url 'delete' p.product_id %}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger ml-auto">Delete</button>
                                  </form>
                              </td>
                              {% if messages %}
                              <ul class="messages text-danger">
                                   {% for message in messages %}
                              {{ message }}
                               {% endfor %}
                                    </ul>
                            {% endif %}


                              </tr>
                    </div>
                    
                    {% endfor %}
                </tbody>
 
                     <!-- main-panel ends -->

        <!-- partial -->
      </div>
 
    </div>
    <!-- page-body-wrapper ends -->
    
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if product.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ product.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current-page">Page {{ product.number }} of {{ product.paginator.num_pages }}.</span>
        {% if product.has_next %}
            <a href="?page={{ product.next_page_number }}">next</a>
            <a href="?page={{ product.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
 

    

  {% endblock content %}
