{% extends 'index.html' %} 
{% load static %}
{% load custom_filters %}
{% block title %}Swipe_cake|Chocolates {% endblock %}
{% block content %}

<style>
    /* Style the plus symbol to look like a button */
    .increase {
        cursor: pointer;
       
        padding: 5px 10px;
        border-radius: 5px;
    }
    .decrease {
        cursor: pointer;
       
        padding: 5px 10px;
        border-radius: 5px;
    }

    /* Style the input box */
    .value {
        border: none;
        text-align: center;
        width: 30px;
    }
</style>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__cart">
        <div class="offcanvas__cart__links">
            <a href="#" class="search-switch"><img src="{% static '/img/icon/search.png' %}" alt=""></a>
            <a href="#"><img src="{% static '/img/icon/heart.png' %}" alt=""></a>
        </div>
        <div class="offcanvas__cart__item">
            <a href="#"><img src="{% static '/img/icon/cart.png' %}" alt=""> <span>0</span></a>
            <div class="cart__price">Cart: <span>$0.00</span></div>
        </div>
    </div>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="{% static '/img/logo.png' %}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__option">
        {% comment %} <ul>
            <li>USD <span class="arrow_carrot-down"></span>
                <ul>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </li>
            <li>ENG <span class="arrow_carrot-down"></span>
                <ul>
                    <li>Spanish</li>
                    <li>ENG</li>
                </ul>
            </li> {% endcomment %}
            <li><a href="#">Sign in</a> <span class="arrow_carrot-down"></span></li>
        </ul>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__top__inner">
                        <div class="header__top__left">
                            <h3 style="color: orange; font-weight: bold;">SWIPE_CAKE</h3>
                            <ul>
                                {% comment %} <li>USD <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li>EUR</li>
                                        <li>USD</li>
                                    </ul>
                                </li>
                                <li>ENG <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li>Spanish</li>
                                        <li>ENG</li>
                                    </ul>
                                </li> {% endcomment %}
                                {% comment %} <li><a href="#">Sign in</a> </li>
                                <li> <a href="#">log in</a></li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="header__logo">
                            <a href="./index.html"><img src="{% static '/img/logo.png' %}" alt=""></a>
                        </div>
                        <div class="header__top__right">
                            <div class="header__top__right__links">
                                <a href="#" class="search-switch"><img src="{% static '/img/icon/search.png' %}" alt=""></a>
                                <a href="{% url 'View_userswishlist' %}"><img src="{% static '/img/icon/heart.png' %}" alt=""></a>
                            </div>
                            <div class="header__top__right__cart">
                                <a href="{% url 'view_cart' %}"><img src="{% static '/img/icon/cart.png' %}" alt=""> <span>{{cart_count}}</span></a>
                                <div class="cart__price">Cart: <span>{{ cart_total }}</span></div></div>
                                <div class="header__top__right__cart" style="margin-left: 2vw">
                                    <a href="#"><img src="{% static '/img/user-icon.png' %}" alt=""></a>
                                    </div>
                                
                               
                                {% comment %} <div class="btn btn-success">logout</div> {% endcomment %}
{% comment %} 
                                <div><img src="{% static '/img/user-icon.png' %}" alt=""></div>      {% endcomment %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="{% url 'homeafter' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                        <li class="active"><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="{% url 'view_cart' %}">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="{% url 'View_userswishlist' %}">Wisslist</a></li>
                                {% comment %} <li><a href="./Class.html">Class</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <li><a href="#">Registration</a>
                            <ul class="dropdown">
                                <li><a href="./shop-details.html">Online Class</a></li>
                                <li><a href="./shoping-cart.html">Offline Class</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">Contact</a></li>
                        {% comment %} {% comment %} <li><a href="./blog.html">login</a></li> {% endcomment %}
                        <li><a href="{% url 'logout' %}">logout</a></li> 
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->



    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shopping cart</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="{% url 'homeafter' %}">Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                               
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td>
                                    <div class="product__cart__item__pic">
                                        <img src="{{ item.get_product_image_url }}" alt="{{ item.get_product_name }}">
                                    </div>
                                </td>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__text">
                                        <h6>{{ item.product.product_name }}</h6>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="product">
                                            <span class="decrease" data-item-id="{{ item.id }}">-</span>
                                            <input type="text" class="value" value="{{ item.quantity }}" data-item-id="{{ item.id }}" data-item-quantity="{{ item.quantity }}">
                                            <span class="increase" data-item-id="{{ item.id }}">+</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price" id="item_price" data-item-id="{{ item.id }}">₹{{ item.product.product_price }}</td>
                                <td id="product_total_price" data-item-id="{{ item.id }}">₹<span class="product-total-price">{{ item.product.product_price|mul:item.quantity }}</span></td>
                                <td class="cart__close"><a href="{% url 'delete_from_cart' item.id %}"><span class="icon_close"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                        
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'homeafter' %}">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="{% url 'view_cart' %}"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% comment %} <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="{% url 'view_cart' %}" method='POST'>
                       {% csrf_token %}
                        <input type="text" placeholder="Coupon code" name='coupon_code'>
                        <button type="submit">Apply</button>
                    </form>
                </div> {% endcomment %}
                {% comment %} <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        {% for category, subtotal in subtotal_dict.items %}
                            <li class="subtotal-item">{{ category }} Subtotal:</li>
                            <li class="subtotal-amount">rs.{{ subtotal }}</li>
                        {% endfor %}
                        <li class="total-item">Total:</li>
                        <li class="total-amount">rs.{{ cart_total }}</li>
                    </ul>
                    
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div> {% endcomment %}
                <div class="cart__total">
                    <h6 style="text-align: left;">Cart total</h6>
                    <ul>
                        {% for category, subtotal in subtotal_dict.items %}
                <li style="text-align: left; width: 50%; float: left;">{{ category }} Subtotal:</li>
                <li style="text-align: right; width: 50%; float: right;">₹{{ subtotal }}</li>
                {% if discount_amount %}
                <li style="text-align: left; width: 50%; float: left;">Discount:</li>
                <li style="text-align: right; width: 50%; float: right;">₹{{ discount_amount }}</li>
      
 
                {% endif %}
            {% endfor %}
            <li style="text-align: left; width: 50%; float: left;">Total:</li>
            <li style="text-align: right; width: 50%; float: right;">₹{{ cart_total }}</li>
        </ul>                                                               
                    </ul>
                    <a href="{% url 'Product_checkout' %}" class="primary-btn {% if not cart_items %}disabled{% endif %}" id="proceed-to-checkout" style="clear: both;">Proceed to checkout</a>
                
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->


    

{% endblock content %}

{% block scripts %}
<script>
    {% for msg in messages %}
    Swal.fire({
        title: 'success',
        text: '{{ msg }}',
        icon: 'success'
    });
    
 
   
   
    {% endfor %}

    document.getElementById('proceed-to-checkout').addEventListener('click', function (event) {
        if (this.classList.contains('disabled')) {
            event.preventDefault();  // Prevent the link from being followed
            //alert('Your cart is empty. Add items to proceed.');  // Optionally, display a message
            Swal.fire({
                icon: 'warning',
                title: 'Your cart is empty',
                text: 'Add items to proceed.',
            });
        }
    });


// Wait for the document to be ready
$(document).ready(function () {
    // Get the CSRF token from the cookie
    const csrfToken = getCookie('csrftoken');

    // Listen for click events on the increase and decrease spans
    $('.increase, .decrease').click(function () {
        // Get the item ID and current quantity from the data attributes
        const itemID = $(this).data('item-id');
        const valueInput = $('.value[data-item-id="' + itemID + '"]');
        let currentValue = parseInt(valueInput.val());
        
        // Check if it's a decrease action and the current value is 1 or less
        if ($(this).hasClass('decrease') && currentValue <= 1) {
            return; // Prevent further execution
        }

        // Calculate the new quantity
        const newQuantity = $(this).hasClass('increase') ? currentValue + 1 : currentValue - 1;

        // Update the input field with the new quantity
        valueInput.val(newQuantity);

        // Send a POST request to update the quantity on the server
        $.ajax({
            type: 'POST',
            url: `/update_quantity/${itemID}/`, // Replace with your actual URL
            data: { new_quantity: newQuantity },
            headers: { "X-CSRFToken": csrfToken }, // Include the CSRF token in headers
            success: function (data) {
                if (data.success) {
                    // Handle success, e.g., update the total price
                    updateTotalPrice(itemID, newQuantity);
                } else {
                    // Handle failure, e.g., show an error message
                    alert('Quantity update failed: ' + data.error);
                }
            },
            error: function () {
                // Handle AJAX error
                alert('An error occurred during the request');
            }
        });
    });

    // Function to update the total price based on the new quantity
    function updateTotalPrice(itemID, newQuantity) {
        const itemPrice = parseFloat($(`#item_price[data-item-id="${itemID}"]`).text().replace('₹', ''));
        const total = itemPrice * newQuantity;
        $(`#product_total_price[data-item-id="${itemID}"]`).html(`₹<span class="product-total-price">${total.toFixed(2)}</span>`);
    }

    // Function to get the CSRF token from cookies
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
});
$(document).ready(function () {
    // Your existing code...

    // Function to check product availability
    function checkProductAvailability() {
        let isAvailable = true;

        // Iterate through each row in the table
        $('.quantity__item').each(function () {
            // Get the item quantity
            const quantity = parseInt($(this).find('.value').val());

            // Check if the quantity is greater than 0
            if (quantity <= 0) {
                isAvailable = false;
                return false; // Exit the loop early
            }
        });

        return isAvailable;
    }

    // Add click event for the "Proceed to checkout" button
    $('.proceed-to-checkout').click(function (event) {
        event.preventDefault(); // Prevent the default action

        // Check product availability before proceeding
        if (checkProductAvailability()) {
            // Proceed to checkout
            window.location.href = $(this).attr('href');
        } else {
            // Show alert for out-of-stock products
            alert('One or more products are out of stock. Please update quantities.');
        }
    });

    // Wait for the document to be ready
    // ... (rest of your existing code)
});

</script>


{% endblock scripts %}