{% extends 'index.html' %} 
{% load static %}
{% load custom_filters %}
{% block title %}Swipe_cake|Chocolates {% endblock %}
{% block content %}


<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__cart">
        <div class="offcanvas__cart__links">
            <a href="#" class="search-switch"><img src="{% static '/img/icon/search.png' %}" alt=""></a>
            <a href="#"><img src="{% static '/img/icon/heart.png' %}" alt=""></a>
        </div>
        <div class="offcanvas__cart__item">
            <a href="#"><img src="{% static '/img/icon/cart.png' %}" alt=""> <span>0</span></a>
            <div class="cart__price">Cart: <span>$0.00</span></div>
        </div>
    </div>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="{% static '/img/logo.png' %}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__option">
        {% comment %} <ul>
            <li>USD <span class="arrow_carrot-down"></span>
                <ul>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </li>
            <li>ENG <span class="arrow_carrot-down"></span>
                <ul>
                    <li>Spanish</li>
                    <li>ENG</li>
                </ul>
            </li> {% endcomment %}
            <li><a href="#">Sign in</a> <span class="arrow_carrot-down"></span></li>
        </ul>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__top__inner">
                        <div class="header__top__left">
                            <h3 style="color: orange; font-weight: bold;">SWIPE_CAKE</h3>
                            <ul>
                                {% comment %} <li>USD <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li>EUR</li>
                                        <li>USD</li>
                                    </ul>
                                </li>
                                <li>ENG <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li>Spanish</li>
                                        <li>ENG</li>
                                    </ul>
                                </li> {% endcomment %}
                                {% comment %} <li><a href="#">Sign in</a> </li>
                                <li> <a href="#">log in</a></li> {% endcomment %}
                            </ul>
                        </div>
                        <div class="header__logo">
                            <a href="./index.html"><img src="{% static '/img/logo.png' %}" alt=""></a>
                        </div>
                        <div class="header__top__right">
                            <div class="header__top__right__links">
                                <a href="#" class="search-switch"><img src="{% static '/img/icon/search.png' %}" alt=""></a>
                                <a href="#"><img src="{% static '/img/icon/heart.png' %}" alt=""></a>
                            </div>
                            <div class="header__top__right__cart">
                                <a href="{% url 'view_cart' %}"><img src="{% static '/img/icon/cart.png' %}" alt=""> <span>0</span></a>
                                <div class="cart__price">Cart: <span>Rs.{{ cart_total }}</span></div></div>
                                <div class="header__top__right__cart">
                                    <a href="#"><img src="{% static '/img/user-icon.png' %}" alt=""></a>
                                    </div>
                                
                               
                                {% comment %} <div class="btn btn-success">logout</div> {% endcomment %}
{% comment %} 
                                <div><img src="{% static '/img/user-icon.png' %}" alt=""></div>      {% endcomment %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'homeafter' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./wisslist.html">Wisslist</a></li>
                                {% comment %} <li><a href="./Class.html">Class</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <li><a href="#">Registration</a>
                            <ul class="dropdown">
                                <li><a href="./shop-details.html">Online Class</a></li>
                                <li><a href="./shoping-cart.html">Offline Class</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">Contact</a></li>
                        {% comment %} {% comment %} <li><a href="./blog.html">login</a></li> {% endcomment %}
                        <li><a href="{% url 'logout' %}">logout</a></li> 
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->



    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shopping cart</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                               
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td><div class="product__cart__item__pic">
                                    <img src="{{ item.get_product_image_url }}" alt="{{ item.get_product_name }}">
                                </div> </td>

                                <td class="product__cart__item">
                                    <div class="product__cart__item__text">
                                        <h6>{{ item.product.product_name }}</h6>
                                        <h5>Rs.{{ item.product.product_price }}</h5>
                                    </div>
                                   
                                </td>
                                
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="{{ item.quantity }}">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">Rs.{{ item.product.product_price }}</td>
                                <td>Rs.{{ item.product.product_price|mul:item.quantity }}</td>
                                <td class="cart__close"><span class="icon_close"></span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'homeafter' %}">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                {% comment %} <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        {% for category, subtotal in subtotal_dict.items %}
                            <li class="subtotal-item">{{ category }} Subtotal:</li>
                            <li class="subtotal-amount">rs.{{ subtotal }}</li>
                        {% endfor %}
                        <li class="total-item">Total:</li>
                        <li class="total-amount">rs.{{ cart_total }}</li>
                    </ul>
                    
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div> {% endcomment %}
                <div class="cart__total">
                    <h6 style="text-align: left;">Cart total</h6>
                    <ul>
                        {% for category, subtotal in subtotal_dict.items %}
                <li style="text-align: left; width: 50%; float: left;">{{ category }} Subtotal:</li>
                <li style="text-align: right; width: 50%; float: right;">rs.{{ subtotal }}</li>
            {% endfor %}
            <li style="text-align: left; width: 50%; float: left;">Total:</li>
            <li style="text-align: right; width: 50%; float: right;">rs.{{ cart_total }}</li>
        </ul>                                                               
                    </ul>
                    <a href="#" class="primary-btn" style="clear: both;">Proceed to checkout</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>WORKING HOURS</h6>
                        <ul>
                            <li>Monday - Friday: 08:00 am – 08:30 pm</li>
                            <li>Saturday: 10:00 am – 16:30 pm</li>
                            <li>Sunday: 10:00 am – 16:30 pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p></p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h6>Subscribe</h6>
                        <p>Get latest updates and offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
                  <div class="col-lg-5">
                    <div class="copyright__widget">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

{% endblock content %}